*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.container{
    width: 100%;
    height: auto;
    background-image: url(./assets/background.png);
    background-size:cover;
    background-position:center;
    box-shadow:2px 2px 6px 5px rgb(41, 41, 31);
    display: flex ;
    margin: auto;
    
}

span{
    color: rgb(255, 252, 79);
}
.profile-box{
    background: rgb(190, 52, 66);
    text-align:center ;
    padding: 40px 80px;
    color: #f8f4f4;
    position: relative;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 180px;
    border-radius: 20px;
   text-decoration: solid;
}
.menu-icon{
    width: 35px;
    position: absolute;
    left: 40px;
    top: 40px;


}

.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.profile-pic{

    height: 205px;
    width:205px;
    border-radius: 50%;
    background: #e1f685;
    padding: 8px;
    margin-top: 40px;
    
    
}
.profile-buttom{
    background: #e9f57a;
    color: #e61111;
    padding: 37px  0px;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
}
.profile-buttom img{
     height: 40px;
    width: 40px;
    margin-top: 5px;
    cursor: pointer;

}
.profile-box button{
    background: #f03750;
    color: #ccff4a;
  border:none;
    outline: none;
    box-shadow: 0 5px 10px rgba(244,67,54,0.5, green, blue, alpha);
    padding: 15px 40px;
    border-radius: 30px;
    margin-bottom: -50px;
     font-weight: 700;
     font-size: 16px;
}
.profile-box h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;

}
.social-media img{
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;

}
